MQ_HOST="localhost"
MQ_USER=Username for RabbitMQ
MQ_PASS=Password for RabbitMQ
account_url="http://localhost:8000"
client_id= From OpenID Provider
client_secret= From OpenID Provider
userMail = Email address of the email account you use.
passMail = Password of the email account.
hostMail = Host of the email account (Ex: smtp.gmail.com).
portMail = Port of the SMTP server to connect to.
PRISMA_HOST = "localhost"